$IMCCONFIG

# IMC2 Freedom CL-2.1 AFKMud 1.8 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Your mud's ONE WORD name here
Autoconnect    0
MinPlayerLevel 10
MinImmLevel    101
AdminLevel     113
Implevel       115
InfoName       Your mud's FULL name here
InfoHost       Your mud's DNS address here
InfoPort       0
InfoEmail      Mud's IMC administrator email
InfoWWW        Mud's webpage
InfoDetails    Short description of some sort

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     DNS address of the hub you will connect to
ServerPort     0
ClientPwd      Client password for the hub you connect to
ServerPwd      Server password for the hub you connect to
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
End

$END
